aside{
    border: 1px black solid;
    border-radius: 8px;
    font-size: 120%;
    font-style: italic;
    background-color: beige;
    float: right;
    width: 33%;
    padding: 5px;
    margin-left: 8px;
    margin-right: 8px;

}
button {
    background-color: skyblue;
    border: 4px green ridge;
    color: black;
    text-align: left;    
    font-size: 16px;
}

button#set-text{
    border: 1px black solid;
    border-width: 5px;
    border-radius: 25%;
    margin: 10px;
    background-color: green;
    padding: 15px;
}

button#set-text:active{
    color: red;
}

button.test-button{
    padding: 25px;
    border-width: 10px;
    border-color: red;
    border-style: solid;
    border: 15px yellowgreen solid;
    border-radius: 35px;
}

button.test-button:hover{
    background-color: blueviolet;
    border-color: white;
}

button.margin-button{
    margin: 25px;

}

div.elf-div-border:hover{
    background-color: blueviolet;
    border-color: blue;
}

div#margin-div{
    border: 1px black solid;
    display: inline-block;

}

div.elf-div-border{
    display: inline-block;
    border: 1px black solid;
    padding: 25px;
    border-radius: 25px;
    background-color: green;
    border-width: 10px;
    margin: 30px;
}

div.list-div{
    display: inline-block;
    border: 1px black solid;
    border-radius: 25px;
    background-color: green;
    border-width: 10px;
    margin: 10px;
    padding: 10px;
    width: 30%;    
}

footer{
    background-color: blanchedalmond;
    text-align: center
}

h1#new-point{
    text-align: center
}


header{
    background-color: antiquewhite;
    text-align: center
}

header p {
    font-weight: bold;
    font-size: 110%
}

img#list-button-utah{
    width: 100px;
    height: 100px;
    float: right
}

input#list-data{
    border: 1px black solid;
    padding: 5px;
    border-width: 10px;
    border-radius: 10%;

}

.byline{
    font-style: italic;
    font-size: 80%
}

main{
    background-color:burlywood
}

nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}
