button {
    background-color: skyblue;
    border: 4px green ridge;
    color: rgb(0, 17, 255);
    text-align: center;    
    font-size: 16px;
}

footer{
    background-color: blanchedalmond;
    text-align: center
}

h1#new-point{
    text-align: center
}


header{
    background-color: antiquewhite;
    text-align: center
}

header p {
    font-weight: bold;
    font-size: 110%
}

img#list-button-utah{
    width: 100px;
    height: 100px;
    float: right;
}

.byline{
    font-style: italic;
    font-size: 80%
}

main{
    background-color:burlywood
}

