aside{
    border: 1px black solid;
    border-radius: 8px;
    font-size: 115%;
    font-style: italic;
    background-color: beige;
    float: right;
    width: 20%;
    height: 5%;
    padding: 5px;
    margin-left: 8px;
    margin-right: 8px;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: left;
    max-width: 800px;
}
.byline{
    font-style: italic;
    font-size: 80%;
}


footer{
    background-color:darkgray;
    text-align: center;
    border: 2px solid slategrey;
    border-radius: 5px;
    margin-bottom: 40px;
}

header{
    text-align: center;
    background-color:darkgray;
    font-size: 150%;
    border: 2px solid slategray;
    border-radius: 5px;
    margin-top: 40px;
}

h1{
    text-align: left;
}

img#front{
    width: 95%;
    height: 95%;
    clear: left;
    margin-left: 5px;
}

figure img{
    width: 95%;
    height: 95%;
    clear: left;
    margin: auto;
}

div#floats{
    float: right;
    margin-right: 5px;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;

}

main{
    background-color: darkgray;
    border: 3px solid slategray;
    border-radius: 5px;
    padding-left: 5px;
}

nav{
    background-color: beige;
    border: 3px black solid;
    border-radius: 5px;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    padding: 8px;
}

.title{
    text-align: center;
}


