body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.byline{
    font-style: italic;
    font-size: 80%;
}

footer{
    background-color:darkgray;
    text-align: center;

}

header{
    text-align: center;
    background-color:darkgray;
    font-size: 150%;
}

h1{
    text-align: left;
}

main{
    background-color: darkgray;
    text-align: center;
}

nav{
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    padding: 8px;
}

.title{
    text-align: center;
}

